@font-face {
   font-family: PT-Bold-Heading;
   src: url(../Fonts/PT\ Bold\ Heading.ttf);
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#LangBtnEn , #LangBtnAr{
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-right: 20px;
    transition: 1s;
    outline: none;
    padding: 20px;
    cursor: pointer;
    border: double 10px rgb(0, 0, 119);
}
#LangBtnEn:hover , #LangBtnAr:hover{
    color: white;
    background-color: rgb(0, 0, 119);
    border: double 10px white;
    border-radius: 50%;
}

#NavBar_P_Ar{
    color: black;
    font-family: PT-Bold-Heading;
    font-weight: bold;
    font-size: 50px;
}
#NavBar_P_En{
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
}
#Arabic_NavBar , #English_NavBar{
    filter: url('#goo');
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.4s;
    width: 100%;
    margin-top: -150px;
    height: 330px;
    /* height: 1000px; */
    z-index: 99;
}
#Nav_Links_Container_En, #Nav_Links_Container_Ar{
    transition:0.5s;
    display: flex;
    justify-content: space-between;
}
.Nav_Links{
    color: black;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    left: 30%;
    transition:0.5s;
    animation: navlink_1 cubic-bezier(0.77, 0, 0.175, 1) 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.Nav_Links:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(0, 0, 119);
    transition:0.5s;
    transform-origin:right;
    /* To Apply the reddish background from the very begining*/
    transform:scaleX(0);
    z-index:-1;
}
.Nav_Links:hover:before{
      transition:transform 0.5s;
  transform-origin:left;
  transform:scaleX(1);
}

.Nav_Links_En{
    font-size: 25px;
    width: min-content;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}
.Nav_Links_Ar{
    font-size: 25px;
    font-family: PT-Bold-Heading;
}
@keyframes navlink_1_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(900px, 0);
   }
}

@keyframes navlink_2_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(780px, 0);
   }
}
@keyframes navlink_3_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(590px, 0);
   }
}
@keyframes navlink_4_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(410px, 0);
   }
}
@keyframes navlink_5_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(210px, 0);
   }
}
@keyframes navlink_6_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(10px, 0);
   }
}
@keyframes navlink_7_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(-180px, 0);
   }
}
@keyframes navlink_8_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(-280px, 0);
   }
}
@keyframes navlink_9_Ar {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(-440px, 0);
   }
}
 .Nav_Links_Ar:nth-child(1) {
	 animation-name: navlink_1_Ar;
     /* display: none; */
}
 .Nav_Links_Ar:nth-child(2) {
	 animation-name: navlink_2_Ar;
    }
    .Nav_Links_Ar:nth-child(3) {
        animation-name:navlink_3_Ar;
    }
    .Nav_Links_Ar:nth-child(4) {
        animation-name: navlink_4_Ar;
        /* display: none; */
}
 .Nav_Links_Ar:nth-child(5) {
	 animation-name: navlink_5_Ar;
    }
    .Nav_Links_Ar:nth-child(6) {
        animation-name: navlink_6_Ar;
    }
    .Nav_Links_Ar:nth-child(7) {
        animation-name: navlink_7_Ar;
    }
    .Nav_Links_Ar:nth-child(8) {
        animation-name:navlink_8_Ar;
}
 .Nav_Links_Ar:nth-child(9) {
	 animation-name:navlink_9_Ar;
}
@keyframes navlink_1_En {
   0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(880px, 0);
   }
}

@keyframes navlink_2_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(725px, 0);
   }
}
@keyframes navlink_3_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(550px, 0);
   }
}
@keyframes navlink_4_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(360px, 0);
   }
}
@keyframes navlink_5_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(200px, 0);
   }
}
@keyframes navlink_6_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(20px, 0);
   }
}
@keyframes navlink_7_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(-150px, 0);
   }
}
@keyframes navlink_8_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(-310px, 0);
   }
}
@keyframes navlink_9_En {
    0%{
    transform: translate(200px, 0);
   }

   100%{
    transform: translate(-440px, 0);
   }
}
.Nav_Links_En:nth-child(1){
	 animation-name:navlink_1_En;
}
.Nav_Links_En:nth-child(2){
	 animation-name:navlink_2_En;
}
.Nav_Links_En:nth-child(3){
	 animation-name:navlink_3_En;
}
.Nav_Links_En:nth-child(4){
	 animation-name:navlink_4_En;
}
.Nav_Links_En:nth-child(5){
	 animation-name:navlink_5_En;
}
.Nav_Links_En:nth-child(6){
	 animation-name:navlink_6_En;
}
.Nav_Links_En:nth-child(7){
	 animation-name:navlink_7_En;
}
.Nav_Links_En:nth-child(8){
	 animation-name:navlink_8_En;
}
.Nav_Links_En:nth-child(9){
	 animation-name:navlink_9_En;
}

.NavBar_Logos{
    transition: 0.4s;
    margin-top: 20px;
    width:275px ;
    height:175px
}
.D_None{
    display: none;
}
.Text_Direction_En{
    direction: ltr;
    text-align: justify;
}
.Text_Direction_Ar{
    direction: rtl;
    text-align: justify;
}
.Flex_Direction_En{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Flex_Direction_Ar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
#Upper_NavBar_Ar,#Upper_NavBar_En{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

/* English Keyframes animation for Arabic Navigation Links In Mobile*/

@keyframes blob-top-left-anim_En {
   0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-170px, -30px)
   }
}

@keyframes blob-top-right-anim_En {
   0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(175px, -30px)
   }
}

@keyframes blob-bottom-left-anim_En {
   0%{
        transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-175px,200px);
   }
}

@keyframes blob-bottom-right-anim_En {
  0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(175px,200px);
   }
}

@keyframes blob-top-anim_En {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.9) translate(25px,-30px);
   }
}

@keyframes blob-center-anim_En {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(10px,65px);
   }
}

@keyframes blob-right-anim_En {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(195px,65px);
   }
}

@keyframes blob-bottom-anim_En {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(0px,200px);
   }
}

@keyframes blob-left-anim_En {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.78) translate(-180px,65px);
   }
}
/* Arabic Keyframes animation for Arabic Navigation Links In Mobile*/

@keyframes blob-top-left-anim_Ar {
   0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-140px, -30px)
   }
}
@keyframes blob-top-left-anim_Special_Ar {
   0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-190px, 0px)
   }
}

@keyframes blob-top-right-anim_Ar {
   0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(235px, -30px)
   }
}
@keyframes blob-top-right-anim_Special_Ar {
   0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(210px, 0px)
   }
}

@keyframes blob-bottom-left-anim_Ar {
   0%{
        transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-210px,165px);
   }
}
@keyframes blob-bottom-left-anim_Special_Ar {
   0%{
        transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-210px,165px);
   }
}

@keyframes blob-bottom-right-anim_Ar {
  0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(195px,165px);
   }
}
@keyframes blob-bottom-right-anim_Special_Ar {
  0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(195px,165px);
   }
}

@keyframes blob-top-anim_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(25px,-30px);
   }
}
@keyframes blob-top-anim_Special_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(10px,0px);
   }
}

@keyframes blob-center-anim_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(20px,65px);
   }
}
@keyframes blob-center-anim_Special_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(20px,65px);
   }
}

@keyframes blob-right-anim_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(210px,65px);
   }
}
@keyframes blob-right-anim_Special_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(210px,65px);
   }
}

@keyframes blob-bottom-anim_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(0px,165px);
   }
}
@keyframes blob-bottom-anim_Special_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(15px,165px);
   }
}

@keyframes blob-left-anim_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-205px,65px);
   }
}
@keyframes blob-left-anim_Special_Ar {
     0%{
    transform: scale(1.1) translate(0, 0);
   }
   100%{
    transform: scale(0.8) translate(-205px,65px);
   }
}

@media screen and (max-width : 1485px){
    #NavBar_P_En{
        margin-left: 20px;
        margin-right: 20px;
    }
    #Nav_Links_Container_En{
        transition:0.5s;
        transform: scale(80%);
        margin-right: 125px;
    }
    #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(80%);
        margin-right: 150px;
    }
    .Nav_Links:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgb(0, 0, 119);
        transition:0.5s;
        transform-origin:right;
        /* To Apply the reddish background from the very begining*/
        transform:scaleX(0);
        z-index:-1;
    }
    .Nav_Links:hover:before{
        transition:transform 0.5s;
        transform-origin:left;
        transform:scaleX(1);
    }
}
@media screen and (max-width :1200px){
     #LangBtnEn{
        transform: scale(80%);
    }
    #LangBtnAr{
        transform: scale(80%);
    }
    #Nav_Links_Container_En, #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(68%);
        margin-right: 175px;
    }
    #NavBar_P_En{
        font-size: 22px;
    }
    .NavBar_Logos{
        transform: scale(80%);
    }
}
@media screen and (max-width :1020px){
    
    #Nav_Links_Container_En , #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(60%);
        margin-right: 200px;
    }
    #NavBar_P_En{
        font-size: 19px;
    }
    #LangBtnAr{
        transform: scale(70%);
    }
    #NavBar_P_Ar{
        font-size: 40px;
        padding: 0;
        word-spacing: 0px;
    }
}
@media screen and (max-width :900px){
    #LangBtnAr{
        transform: scale(60%);
    }
    #LangBtnEn{
        transform: scale(60%);
    }
    .NavBar_Logos{
        transform: scale(70%);
    }
    #Nav_Links_Container_En , #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(54%);
        margin-right: 200px;
    }
    #NavBar_P_En{
        font-size: 15px;
    }
    #NavBar_P_Ar{
        font-size: 30px;
        padding: 0;
        word-spacing: 0px;
    }
}
@media screen and (max-width : 800px){
    #Arabic_NavBar , #English_NavBar{
        height: 400px;
    }
    #LangBtnAr{
        transform: scale(50%);
    }
    #LangBtnEn{
        transform: scale(70%);
        margin: 0;
    }
    #NavBar_P_En{
        font-size: 17px;
        margin: 0;
    }
    #NavBar_P_Ar{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 35px;
        padding: 0;
        word-spacing: 0px;
    }
    #Nav_Links_Container_En{
        transition:0.5s;
        transform: scale(85%);
        margin-left: 220px;
    }
    #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(100%);
        margin-left: 200px;
    }
    .NavBar_Logos{
        width: 200px;
        height: 125px;
        padding: 0;
        margin: 0;
    }
    .Nav_Links:before{
        /* To Apply the reddish background from the very begining*/
        transform:scaleX(0);
        z-index:-1;
    }
    .Nav_Links:hover:before{
        transition:transform 0s;
    }

    /* English Navigation Links For Mobile*/
    .Nav_Links_En:nth-child(1) {
    animation-name: blob-center-anim_En;
    }
    .Nav_Links_En:nth-child(2) {
    animation-name: blob-top-right-anim_En;
    }
    .Nav_Links_En:nth-child(3) {
        animation-name: blob-left-anim_En;
    }
     .Nav_Links_En:nth-child(4) {
    	 animation-name: blob-bottom-right-anim_En;
    }
     .Nav_Links_En:nth-child(5) {
    	 animation-name: blob-top-left-anim_En;
    }
     .Nav_Links_En:nth-child(6) {
    	 animation-name: blob-bottom-anim_En;
    }
     .Nav_Links_En:nth-child(7) {
    	 animation-name: blob-right-anim_En;
    }
     .Nav_Links_En:nth-child(8) {
    	 animation-name: blob-bottom-left-anim_En;
    }
     .Nav_Links_En:nth-child(9) {
    	 animation-name: blob-top-anim_En;
    }
/* Arabic Navigation Links For Mobile*/
    .Nav_Links_Ar:nth-child(1) {
        animation-name: blob-top-anim_Ar;
    }
    .Nav_Links_Ar:nth-child(2) {
        animation-name: blob-top-right-anim_Ar;
    }
    .Nav_Links_Ar:nth-child(3) {
        animation-name: blob-bottom-left-anim_Ar;
    }
     .Nav_Links_Ar:nth-child(4) {
    	animation-name: blob-right-anim_Ar;
    }
     .Nav_Links_Ar:nth-child(5) {
    	animation-name: blob-left-anim_Ar;
    }
     .Nav_Links_Ar:nth-child(6) {
    	animation-name: blob-bottom-anim_Ar;
    }
     .Nav_Links_Ar:nth-child(7) {
    	animation-name: blob-bottom-right-anim_Ar;
    }
     .Nav_Links_Ar:nth-child(8) {
    	animation-name: blob-top-left-anim_Ar;
    }
     .Nav_Links_Ar:nth-child(9) {
    	animation-name: blob-center-anim_Ar;
    }
}
@media screen and (max-width : 620px){
    .Nav_Links_Ar:nth-child(1) {
        animation-name: blob-top-anim_Special_Ar;
    }
    .Nav_Links_Ar:nth-child(2) {
        animation-name: blob-top-right-anim_Special_Ar;
    }
    .Nav_Links_Ar:nth-child(3) {
        animation-name: blob-bottom-left-anim_Special_Ar;
    }
     .Nav_Links_Ar:nth-child(4) {
    	animation-name: blob-right-anim_Special_Ar;
    }
     .Nav_Links_Ar:nth-child(5) {
    	animation-name: blob-left-anim_Special_Ar;
    }
    .Nav_Links_Ar:nth-child(6) {
        animation-name: blob-bottom-anim_Special_Ar;
    }
         .Nav_Links_Ar:nth-child(7) {
    	animation-name: blob-bottom-right-anim_Special_Ar;
    }
    .Nav_Links_Ar:nth-child(8) {
        animation-name: blob-top-left-anim_Special_Ar;
    }
    .Nav_Links_Ar:nth-child(9) {
    	animation-name: blob-center-anim_Special_Ar;
    }
}
@media screen and (max-width : 600px ){
    #LangBtnEn{
        transform: scale(60%);
        margin: 0;
    }
    #NavBar_P_Ar{
        font-size: 26px;
        padding: 0;
        word-spacing: 0px;
    }
    #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(90%);
        margin-left: 200px;
    }
    #Nav_Links_Container_En{
        transition:0.5s;
        transform: scale(85%);
        margin-left: 150px;
    }
}
@media screen and (max-width : 500px){
    #LangBtnEn{
        transform: scale(40%);
        margin: 0;
        margin-right: -40px;
    }
    #LangBtnAr{
        transform: scale(40%);
        margin: 0;
        margin-right: -20px;
    }
    #NavBar_P_Ar{
        font-size: 20px;
        padding: 0;
        word-spacing: 0px;
    }
    #NavBar_P_En{
        font-size: 11px;
        padding: 0;
        word-spacing: 0px;
    }
    .NavBar_Logos{
        transform: scale(50%);
        margin-left: -45px;
    }
    #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(80%);
        margin-left: 125px;
    }
    #Nav_Links_Container_En{
        transition:0.5s;
        transform: scale(75%);
        margin-left: 125px;
    }
}
@media screen and (max-width : 400px){
    #LangBtnEn{
        transform: scale(30%);
        margin-right: -50px;
    }
    #LangBtnAr{
        transform: scale(35%);
        margin-right: -30px;
    }
    #NavBar_P_Ar{
        font-size: 14px;
        padding: 0;
        word-spacing: 0px;
    }
    #NavBar_P_En{
        font-size: 10px;
        padding: 0;
        word-spacing: 0px;
    }
    .NavBar_Logos{
        transform: scale(40%);
        margin-left: -57px;
    }
    #Nav_Links_Container_Ar{
        transition:0.5s;
        transform: scale(80%);
        margin-left: 110px;
    }
    #Nav_Links_Container_En{
        transition:0.5s;
        transform: scale(75%);
        margin-left: 75px;
        margin-top: 25px;
    }
}
@media screen and (max-width : 300px){
    #LangBtnEn{
        transform: scale(30%);
        margin-left: -20px;
    }
    #LangBtnAr{
        transform: scale(35%);
        margin-left: -20px;
    }
    #Nav_Links_Container_Ar{
        transform: scale(60%);
        margin-right: 178px;
    }
    #Nav_Links_Container_En{
        transform: scale(60%);
    }
}